<datalist id="dl-buyers">{% for v in sg.buyers %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-factories">{% for v in sg.factories %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-suppliers">{% for v in sg.suppliers %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-materials">{% for v in sg.materials %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-placements">{% for v in sg.placements %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-units">{% for v in sg.units %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-cost-heads">{% for v in sg.cost_heads %}<option value="{{ v }}">{% endfor %}</datalist>
<datalist id="dl-colors">{% for v in sg.colors %}<option value="{{ v }}">{% endfor %}</datalist>
